.services {
  position: relative;
  padding: 100px 0px 0px 0;
  background-color: transparent;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .services-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
  }
}

.services-box__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-box__short-title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  color: #2490eb;
  font-size: 13px;
  letter-spacing: 2px;
  background-color: #fff;
  border-radius: 5px;
}
.services-box__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 105px 0 -150px 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.services-box__title {
  text-align: center;
}
.services-box__item {
  width: 30%;
}

.services-box__item-img {
  width: 100%;
}
.services-box__info {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: #fff;
}
.services-box__title {
  margin: 0;
  font-size: 35px;
  letter-spacing: 3px;
  text-align: left;
  color: #fff;
}
.services-box__info-title {
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 2px;
  color: #000;
}
.services-box__info-text {
  margin: 0;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.623);
}
.services-box__info-link {
  text-decoration: none;
  color: #2490eb;
  font-size: 15px;
}

@media (max-width: 1024px) {
  .services {
    position: relative;
    padding: 100px 0px 0px 0;
    background-color: transparent;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      .services-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
    }
  }

  .services-box__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-box__short-title {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    color: #2490eb;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 5px;
  }
  .services-box__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 105px 0 -150px 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    list-style: none;
  }
  .services-box__item {
    width: 28%;
  }
  .services-box__title {
    text-align: center;
  }

  .services-box__item-img {
    width: 100%;
  }
  .services-box__info {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
  }
  .services-box__title {
    margin: 0;
    font-size: 35px;
    letter-spacing: 3px;
    text-align: left;
    color: #fff;
  }
  .services-box__info-title {
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: #000;
  }
  .services-box__info-text {
    margin: 0;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.623);
  }
  .services-box__info-link {
    text-decoration: none;
    color: #2490eb;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .services {
    position: relative;
    padding: 30px 0px 0px 0;
    background-color: transparent;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      .services-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
    }
  }

  .services-box__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-box__short-title {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    color: #2490eb;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 5px;
  }
  .services-box__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0 -150px 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    list-style: none;
  }
  .services-box__item {
    width: 90%;
    margin-top: 20px;
  }

  .services-box__item-img {
    width: 100%;
  }
  .services-box__info {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
  }
  .services-box__title {
    margin: 0;
    font-size: 35px;
    letter-spacing: 3px;
    text-align: left;
    color: #fff;
  }
  .services-box__title {
    text-align: center;
  }
  .services-box__info-title {
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: #000;
  }
  .services-box__info-text {
    margin: 0;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.623);
  }
  .services-box__info-link {
    text-decoration: none;
    color: #2490eb;
    font-size: 15px;
  }
}
